<a href="https://colab.research.google.com/github/Ivanov85/Homework1/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [10]:
df = pd.read_csv("users.csv")

In [4]:
df = pd.read_csv("users.csv", header = 0, sep = ',')

In [11]:
df.head()

  user_id    age_group language_preferred
0   a1000   0-18 years            English
1   a1001  19-24 years            English
2   a1002  24-30 years            English
3   a1003  30-36 years            English
4   a1004  36-45 years            English

In [12]:
df.tail()

      user_id    age_group language_preferred
10032  a11032  45-55 years             German
10033  a11033    55+ years             German
10034  a11034    55+ years             German
10035  a11035   0-18 years             German
10036  a11036   0-18 years             German

In [13]:
len(df)

10037

In [14]:
df.shape

(10037, 3)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10037 entries, 0 to 10036
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             10037 non-null  object
 1   age_group           10037 non-null  object
 2   language_preferred  10037 non-null  object
dtypes: object(3)
memory usage: 235.4+ KB

In [16]:
df.describe()

       user_id    age_group language_preferred
count    10037        10037              10037
unique   10037            7                  4
top      a1000  19-24 years            English
freq         1         1682               9275

In [17]:
df.describe(include=["object", "bool"])

       user_id    age_group language_preferred
count    10037        10037              10037
unique   10037            7                  4
top      a1000  19-24 years            English
freq         1         1682               9275

In [18]:
df["language_preferred"].value_counts()

English    9275
Spanish     450
German      167
Arabic      145
Name: language_preferred, dtype: int64

In [19]:
df["age_group"].value_counts(normalize=True).head()

19-24 years    0.167580
24-30 years    0.156222
0-18 years     0.153333
30-36 years    0.135000
36-45 years    0.134801
Name: age_group, dtype: float64

In [20]:
df["age_group"].nunique()

7

In [21]:
df["age_group"].unique()[:4]

array(['0-18 years', '19-24 years', '24-30 years', '30-36 years'],
      dtype=object)

In [22]:
df["language_preferred"]

0        English
1        English
2        English
3        English
4        English
          ...
10032     German
10033     German
10034     German
10035     German
10036     German
Name: language_preferred, Length: 10037, dtype: object

In [23]:
df[['age_group', 'language_preferred']]

         age_group language_preferred
0       0-18 years            English
1      19-24 years            English
2      24-30 years            English
3      30-36 years            English
4      36-45 years            English
...            ...                ...
10032  45-55 years             German
10033    55+ years             German
10034    55+ years             German
10035   0-18 years             German
10036   0-18 years             German

[10037 rows x 2 columns]

In [24]:
type(df.age_group)

pandas.core.series.Series

In [25]:
df[['language_preferred','age_group']].mean()

<ipython-input-25-e1203850c811>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df[['language_preferred','age_group']].mean()

Series([], dtype: float64)

In [26]:
df.loc[100:105, ['age_group', 'language_preferred']]

       age_group language_preferred
100  24-30 years            English
101  30-36 years            English
102  30-36 years            English
103  36-45 years            Spanish
104  36-45 years            Spanish
105  45-55 years            Spanish

In [27]:
df.loc[df['language_preferred'] == 1]

Empty DataFrame
Columns: [user_id, age_group, language_preferred]
Index: []

In [28]:
df.iloc[:, [1, 2]]

         age_group language_preferred
0       0-18 years            English
1      19-24 years            English
2      24-30 years            English
3      30-36 years            English
4      36-45 years            English
...            ...                ...
10032  45-55 years             German
10033    55+ years             German
10034    55+ years             German
10035   0-18 years             German
10036   0-18 years             German

[10037 rows x 2 columns]

In [29]:
group = df.filter(items = ['age_group', 'language_preffered'])

group.head()

     age_group
0   0-18 years
1  19-24 years
2  24-30 years
3  30-36 years
4  36-45 years

In [30]:
from pandas.core.arrays.categorical import contains
df[df['language_preferred'].str.contains('En', case = False)].head()

  user_id    age_group language_preferred
0   a1000   0-18 years            English
1   a1001  19-24 years            English
2   a1002  24-30 years            English
3   a1003  30-36 years            English
4   a1004  36-45 years            English

In [31]:
df.sort_values(by = 'language_preferred', ascending = False).head()

     user_id    age_group language_preferred
2678   a3678  19-24 years            Spanish
1444   a2444  19-24 years            Spanish
3610   a4610  19-24 years            Spanish
3609   a4609  19-24 years            Spanish
3596   a4596   0-18 years            Spanish

In [32]:
import numpy as np

In [34]:
df = pd.read_csv('subscribers.csv')

In [67]:
df['user_id'] = pd.Series(range(1000, 2000))

In [35]:
new_order = [0, 1, 2, 3, 4]
df = df[df.columns[new_order]]
df.head()

  user_id subscribing_channel date_subscribed date_canceled is_retained
0   a1000           House Ads          1/1/18           NaN        True
1   a1001           House Ads          1/1/18           NaN        True
2   a1002           House Ads          1/1/18           NaN        True
3   a1003           House Ads          1/1/18           NaN        True
4   a1004           House Ads          1/1/18           NaN        True

In [36]:
cols_1 = ['user_id', 'subscribing_channel', 'date_subscribed', 'is_retained']
df_site = df[cols_1]
df_site.shape
df_site.head()

  user_id subscribing_channel date_subscribed is_retained
0   a1000           House Ads          1/1/18        True
1   a1001           House Ads          1/1/18        True
2   a1002           House Ads          1/1/18        True
3   a1003           House Ads          1/1/18        True
4   a1004           House Ads          1/1/18        True

In [37]:
cols_2 = ['user_id', 'date_subscribed', 'date_canceled']
df_date = df[cols_2]
df_date.shape
df_date.head()

  user_id date_subscribed date_canceled
0   a1000          1/1/18           NaN
1   a1001          1/1/18           NaN
2   a1002          1/1/18           NaN
3   a1003          1/1/18           NaN
4   a1004          1/1/18           NaN

In [38]:
df_2 = pd.merge(df_date, df_site, on = 'user_id', how = 'left')
df_2.shape
df_2.head()

,user_id,date_subscribed_x,date_canceled,subscribing_channel,date_subscribed_y,is_retained
0,a1000,1/1/18,NaN,House Ads,1/1/18,True
1,a1001,1/1/18,NaN,House Ads,1/1/18,True
2,a1002,1/1/18,NaN,House Ads,1/1/18,True
3,a1003,1/1/18,NaN,House Ads,1/1/18,True
4,a1004,1/1/18,NaN,House Ads,1/1/18,True